## Settings file was created by plugin RecNet Plugin v1.0.0
## Plugin GUID: net.rec.plugin

[Advanced]

## Allows other fields below in the advanced section to be modified.
# Setting type: Boolean
# Default value: false
Enabled Advanced Settings = false

## Custom Photon NameServer
# Setting type: String
# Default value: 
Photon NameServer = 

## Custom Photon NameServer Port (if 0, it will be default)
# Setting type: Int32
# Default value: 0
Photon NameServer Port = 0

## Show debug logs (HTTP tracing, etc. WARNING: will include sensitive information such as passwords and auth tokens in the logs, be careful when sharing them!)
# Setting type: Boolean
# Default value: false
Debug = false

[Photon]

## Photon Realtime App ID
# Setting type: String
# Default value: 
App Id Realtime = 8f322bdb-2b1f-4c27-a232-01436f43d14e

## Photon Voice App ID
# Setting type: String
# Default value: 
App Id Voice = 6b4682e1-a1a9-4e04-b44a-6db0049a4df3

## Photon Chat App ID
# Setting type: String
# Default value: 
App Id Chat = 55fae86e-0459-4f97-bf6c-39c9341da6ef

[Server]

## Host for the RecNet NameServer.
# Setting type: String
# Default value: https://ns.rec.net
RecNet NameServer Host = https://ns.recflare.net

